.appbar {
	display:none !important;
}

body {
	color:#111 !important;

}
table thead th {
	color:#111 !important;
}

 table tbody td {
	color:#111 !important;
}

.data-view {
	overflow: hidden !important;
	height: auto !important;
}